.base-channel-activity {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 220px);
  background-color: rgb(255, 255, 255);
  color: rgb(44, 45, 48);
}

.channel-detail {
  display: block;
  height: 61px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}
.message-thread {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1px;
  height: calc(100vh - 60px - 64px);
  box-sizing: border-box;
  overflow: scroll;
}
.message-form {
  display: block;
  height: 64px;
  border-left: none;
  box-sizing: border-box;
}

.create-message-input {
  display: block;
  box-sizing: border-box;
  height: 37px;
  border: 2px solid rgb(187, 189, 191);
  border-radius: 6px;
  font-size: 15px;
  letter-spacing: normal;
  cursor: auto;
  padding: 9px;
  vertical-align: middle;
  max-width: 100%;
  color: rgb(61, 60, 64);
  margin: 0 auto;
  width: calc(100vw - 220px - 40px);
}

.message-thread-item-username, .message-thread-item-body {
  display: block;
}

.message-thread-item-username {
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;
}

.message-thread-item-body {
  cursor: text;
  font-size: 15px;
  line-height: 22px;
  padding-left: 1px;
}

.message-thread-list {
  height: auto;
  max-height: calc(100vh - 60px - 64px);
}

.message-thread-list li {
  padding: 10px 25px;
  display: flex;
}

.message-thread-list li:hover {
  background-color: rgb(249, 249, 249);
}

.message-thread-list-item-text-container {
}

.fa-user-circle-o {
  font-size: 40px;
  margin-right: 10px;
  color: rgb(155, 158, 163);
}










// Bottom of File
