.channel-detail {
  display: flex;
  justify-content: space-between;
}

.channel-detail-display {
  padding: 6px 20.8px;
  padding-top: 11.2px;
}

.channel-detail-header-name {
  font-size: 18px;
  font-weight: 900;
}

.channel-detail-attributes {
  display: flex;
  margin-top: 7px;
  line-height: 15.8px;
}

.fa-users-channel-detail {
  font-size: 15px;
  padding-right: 10px;
  padding-left: 2px;
}

.fa-user-o-channel-detail {
  font-size: 12px;
  padding-right: 8px;
  padding-left: 2px;
  vertical-align: top;
  margin-top: 1px;
}

.channel-user-count {
  color: rgb(113, 114, 116);
  font-size: 13px;
}

.channel-detail-purpose {
  color: rgb(113, 114, 116);
  font-size: 13px;
  vertical-align: middle;
}

.channel-detail-attributes div {
  padding-right: 10px;
  margin-left: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.channel-detail-attributes div:last-child {
  border-right: none;
}

.channel-detail-attributes div:first-child {
  margin-left: 0px;
}

.channel-detail-functions {
  padding: 6px 20px;
  padding-top: 17.5px;
  display:flex;
}

.edit-channel-button {
  background: rgb(251, 251, 250);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  width: 85px;
  height: 26px;
  color: rgb(85, 84, 89);
  cursor: pointer;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  margin-right: 8px;
  padding: 4px 18px 4px 18px;
  text-align: center;
}

.edit-channel-button:hover {
  color: rgb(0, 122, 184);
}

.leave-channel-button {
  background: rgb(251, 251, 250);
  width: 85px;
  height: 26px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  color: rgb(85, 84, 89);
  cursor: pointer;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  margin-right: 8px;
  padding: 4px 18px 4px 18px;
  text-align: center;
}

.leave-channel-button:hover {
  color: rgb(0, 122, 184);
}

.delete-channel-button {
  background: rgb(251, 251, 250);
  width: 85px;
  height: 26px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  color: rgb(85, 84, 89);
  cursor: pointer;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  margin-right: 8px;
  padding: 4px 18px 4px 18px;
  text-align: center;
  vertical-align: middle;
}

.delete-channel-button:hover {
  color: rgb(235, 34, 71);
}

.channel-detail-functions span:last-child {
  margin-right: 0;
}












// Bottom of file
