.all-of-base {
  display: flex;
  background: lightgrey;
}

.base-navigation {
  background-color: rgb(77, 57, 75);
  color: rgb(171, 155, 169);
  width: 220px;
  height: 100vh;
  box-sizing: border-box;
}

.base-channel-activity {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
