@import url('https://fonts.googleapis.com/css?family=Lato');

span {
  font-family: 'Lato', sans-serif;
  background: yellow;
}

.landing-nav-wrapper {
  display: block;
}
.landing-nav {
  display: flex;
  justify-content: space-between;
}
