/*LANDING*/

.landing-wrapper {
  background: #E3E4E5;
}


/*LANDING NAV*/

.landing-nav-wrapper {
  display: block;
}

.landing-nav {
  display: flex;
  justify-content: space-between;
  background: #E3E4E5;
  color: #4A4A4A;
  font-size: 15px;
  font-weight: bold;
}

.landing-nav-logo {
  margin: 10px 10px 10px 20px;
  font-size: 32px;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  color: rgb(37, 48, 57);
}

.landing-nav-list {
  display: flex;
  margin-right: 20px;
  align-items: center;
}


.landing-nav-list-item {
  font-size: 16px;
  line-height: 19.2px;
  border-radius: 4px;
  padding: 8px 7px 9px 7px;
  cursor: pointer;
  margin-left: 20px;
}

.landing-nav-list-item:hover {
  background: rgba(145, 145, 145, 0.3);
}

.landing-nav-log-in-demo {
  background: rgb(64, 102, 154);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 19.2px;
  padding: 8px 7px 9px 7px;
  text-align: center;
  margin-left: 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,.2);

}

.landing-nav-log-in-demo:hover {
  background: rgb(49, 78, 118);
}

/*LANDING BODY*/

.landing-body {
  display:flex;
}

.landing-body-content {
  width: 570px;
  margin: 96px 143px 0 143px
}




/*LANDING CONTENT*/

.landing-body-content-cta span {
  font-size: 94px;
  color: rgb(37, 48, 57);
  font-weight: 900;
}

.landing-body-content-desc p {
  color: rgb(37, 48, 57);
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: lighter;
  line-height: 28px;
}

.fa-fw-big-ast, .fa-fw-little-ast {
  color: rgb(214, 21, 143);
}

.fa-fw-big-ast {
  font-size: 32px;
  vertical-align: top;
  padding: 10px 10px;
}

.fa-fw-little-ast {
  font-size: 18px;
  vertical-align: top;
}

.landing-body-content-cta-link {
  background: rgb(66, 194, 152);
  font-size: 17px;
  font-weight: bold;
  height: 53px;
  line-height: 25.6px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0,0,0,.2);
  padding: 14px 64px;
  color: rgb(255, 255, 255);
}

.landing-body-content-cta-link:hover {
  background: rgb(63, 186, 145);
}

.landing-body-content-signin {
  display: block;
  margin-top: 28px;
  color: rgb(112, 120, 125);
  font-size: 14px;
  padding-bottom: 250px; // TODO:  This is so dumb. just to get the page to fill right now.
}

.landing-body-content-signin a {
  text-decoration: underline;
}

.landing-nav-list-item-logout {
  border: none;
  margin: 20px 9px;
  border-radius: 5px;
  padding: 8px 7px 9px 7px;
  cursor: pointer;
  background: #E3E4E5;
  color: #4A4A4A;
  font-size: 15px;
  font-weight: bold;

  text-align: center;
  text-decoration: none;
}

.landing-nav-list-item-logout:hover {
  background: rgba(145, 145, 145, 0.3);
}
